# Dependencies
node_modules/
vendor/

# Build
dist/
*.zip

# Logs
*.log
phpcs-report.txt

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Temp files
*.tmp
*.bak
*.swp
*~

# Package manager
package-lock.json
composer.lock
